<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><!-- var:title --> - WDM Rolls</title>

	<meta name="description" content="<!-- string:description -->">

<!-- include:favicon.html -->

	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/forms.css" rel="stylesheet">
</head>

<body>
	<main class="auth">
		<div class="auth-holder">
			<img src="/img/family-tree.svg">
			<div class="branding">NOE Family Tree of Relatives and Friends</div>
<!-- slot:auth -->
		</div>
	</main>
<!-- scripts -->
</body>

</html>